<%- include('header'); -%>

  <div class="row">
    <div class="col-md-6">
      <h1 style="color: #FFFCF9;">Just Do It.</h1> <button class="add-button" id="add-btn" onClick="toggleForm()">New Goal+</button>
    </div>
      <div class="container">
        <form class="action-form my-form" id="hidden" action="/dashboard" method="post">
          <label for="goalName">Name your goal</label>
          <input type="text" name="goalName" placeholder="Name">
          <br>
          <label for="daysNeeded">How long will it take?</label>
          <input type="text" name="daysNeeded" placeholder="No. of days">
          <br>
          <br>
          <button class="add-button form-button" id='submit-button' type="submit">Commit.</button>
          <div class="add-button form-button" id='submit-button' onclick="toggleForm()">Nevermind.</div>
        </form>
      </div>
  </div>
  <div class="row goal-panel-row">
    <% if(goals){ %>
    <% goals.forEach(function(e, index){ %>
    <div class="col-md-4">
      <div class="goal-panel">
        <form class="" action="/delete" method="post">
          <input type="hidden" name="goalName" value="<%= e.goalName %>">
          <button type="submit" class="goal-delete">x</button>
        </form>
        <h3>
          <%= e.goalName %>
        </h3>
        <hr>
        <%= e.daysNeeded - (Math.round(Math.abs((e.dateCreated.getTime() - todaysDate.getTime())/(24*60*60*1000))))%> Days Remaining
        <hr>
        <% if(e.completed == true){ %>
        <span class="success">Completed</span>
        <% } else { %>
        <span class="incomplete">In Progress</span>
        <% } %>
      </div>
    </div>
    <%  }) %>
    <% } %>
  </div>

<script>
  // document.getElementById('add-btn').addEventListener('click', function() {
  //   this.innerHTML == "New Goal+" ? this.innerHTML = "Nevermind." : this.innerHTML = "New Goal+";
  // })

  function toggleForm() {
    var newGoalForm = document.getElementById("hidden");
    newGoalForm.classList.toggle("show");
  }
</script>

<%- include('footer'); -%>
